body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.main {
  box-shadow: 0 10px 40px -10px black;
  border-radius: 10px;
}

/* .main{
  box-shadow: 0 15px 40px -10px black;
} */

.textHeders{
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 600;
  margin-top: 20px;
  text-align: center;
}
/* .color{
  color: #F15E64;
} */
.text {
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  font-weight: 600;
  padding: 10px 10px !important;
}
.textBtn{
  font-size: 23px;
}
.textBtnSubmit{
  font-size: 23px;
  font-weight: 700;
}
.body{
  padding: 20px 50px;
}
.icon{
  font-size: 22px;
}